<main class="grid-container">
  <div class="body">
    <div class="image">
    </div>
    <hr>
    <div class="info-personal">
      Personal information
    </div>
    <div class="info-professional">
      Professional information
    </div>
  </div>
</main>




<!-- 
    // Other Page Structure
<div class="grid-container">
  <div class="Headder" *ngIf="show">
    <mat-toolbar color="primary">
      Rahul Kumar
    </mat-toolbar>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    Footer
  </div>
</div>
-->