<main class="grid-container">
  <div class="body">
    <!-- My Photo -->
    <div class="image"></div>
    <!-- horizontal line break -->
    <section class="hr-line"></section>
    <!-- Data Body -->
    <div class="data-body">
      <!-- Personal information section -->
      <div class="info-personal">
        <h2 style="text-align: center;">Something about me</h2>
        <p>
          I am Rahul Kumar
        </p>
      </div>
      <!-- Fill gap -->
      <div class="fill-gap"></div>
      <!-- Profession info section -->
      <div class="info-professional">
        <h2 style="text-align: center;">Technical experience</h2>
        <ul>
          <li>
            <mat-progress-bar mode="determinate" value="60" color="warn"></mat-progress-bar>
            <div style="position:relative; top: -27px; left: 60px; color: white;">
              Angular 2 ( 60% )
            </div>
          </li>
          <li>
            <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
            <div style="position:relative; top: -27px; left: 60px; color: white;">
              Angular 2 ( 60% )
            </div>
          </li>
          <li>
            <mat-progress-bar mode="determinate" value="40" color="warn"></mat-progress-bar>
            <div style="position:relative; top: -27px; left: 60px; color: white;">
              Angular 2 ( 60% )
            </div>
          </li>
          <li>
            <mat-progress-bar mode="determinate" value="70"></mat-progress-bar>
            <div style="position:relative; top: -27px; left: 60px; color: white;">
              Angular 2 ( 60% )
            </div>
          </li>
          <li>
            <mat-progress-bar mode="determinate" value="80" color="warn"></mat-progress-bar>
            <div style="position:relative; top: -27px; left: 60px; color: white;">
              Angular 2 ( 60% )
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>




<!-- 
    // Other Page Structure
<div class="grid-container">
  <div class="Headder" *ngIf="show">
    <mat-toolbar color="primary">
      Rahul Kumar
    </mat-toolbar>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  <div class="footer">
    Footer
  </div>
</div>
-->