/* .grid-container {
    display: grid;
    grid-template-columns: 0.05fr 1fr 0.05fr;
    grid-template-rows: 1fr 5fr 0.5fr;
    grid-template-areas: ". Headder ." ". body ." ". footer .";
    height: 108.5%;
  }

  .hide-it{
    display: none;
  }
  
  .Headder { grid-area: Headder; }
  
  .footer { grid-area: footer; }
  
  .body { grid-area: body; } */

  .menu-spacer {
    margin: 0 auto;
  }

  .small-show {
    display: none;
  }

  .small-hide {
    display: block;
  }

  @media only screen and (max-width: 600px) {
    .small-show {
      display: block !important;
    }

    .small-hide {
      display: none !important;
    }
  }